<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-12 ">

            <a href="#/user/{{model.userId}}" class="navbar-brand navbar-link arrow-style">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>

            <div class="navbar-brand">
                Websites
            </div>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid website-list-top">
    <div ng-repeat="website in model.websites" class="row-style">
        <a href="#/user/{{model.userId}}/website/{{website._id}}/page" class="name-style"> {{website.name}}</a>
        <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right right-cog-style" >
            <div class="glyphicon glyphicon-cog "></div>
        </a>
    </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div>
            <a href="#/user/{{model.userId}}" class="navbar-brand navbar-link footer-style"> <span
                    class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
