<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website" class="navbar-brand navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>

                <div class="navbar-brand">
                    Websites
                </div>
                <p class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                    </a>
                </p>
            </div>

        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website" class=" navbar-brand navbar-link hidden-sm hidden-md hidden-lg">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>

                <div class="navbar-brand">
                    New Website
                </div>
                <p class="navbar-text pull-right">
                    <a ng-click="model.createWebsite(model.websitename, model.websitedesc)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="col-xs-4 hidden-xs">
        <div class="website-list-top">

            <div ng-repeat="website in model.websites" class="row-style">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page"> {{website.name}}</a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}">
                    <div class="glyphicon glyphicon-cog float-right"></div>
                </a>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="website-list-top">
            <form>
                <div class="form-group">
                    <label for="websitename">Name</label>
                    <input ng-model = "model.websitename" type="text" class="form-control" id="websitename" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea ng-model = "model.websitedesc" class="form-control" rows="3" id="desc" placeholder="Description"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div>
            <a href="#/user/{{model.userId}}" class="navbar-brand navbar-link footer-style"> <span
                    class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
