<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class=" navbar-brand navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>

            <div class="navbar-brand">
                Edit Page
            </div>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatePage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container website-list-top">
    <form>
        <div class="form-group">
            <label for="websitename">Name</label>
            <input ng-model = "model.Page.name" type="text" class="form-control" id="websitename" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <input ng-model="model.Page.description" type="text" class="form-control" id="desc" placeholder="Description"/>
        </div>

        <a class="btn btn-danger btn-block"
           ng-click="model.deletePage()">Delete</a>
    </form>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div>
            <a href="#/user/{{model.uid}}" class="navbar-brand navbar-link footer-style"> <span
                    class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>