<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-12">

            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class=" navbar-brand navbar-link arrow-style">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>

            <div class="navbar-brand">
                Choose Widget
            </div>
        </div>
    </div>
</nav>

<div class="container website-list-top">
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-heading">Heading</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-heading"> Label </a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-html"> HTML</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-heading"> Input</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-heading"> Link</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-heading"> Button</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-image"> Image</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-youtube"> Youtube </a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-heading"> Datatable</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-heading"> Repeater</a>
    </div>
    <div class="row-style">
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/widget-text"> Text</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div>
            <a href="#/user/{{model.uid}}" class="navbar-brand navbar-link footer-style"> <span
                    class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>