<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-12">

            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class=" navbar-brand navbar-link arrow-style">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>

            <div ng-switch ="model.widget._id">
                <div ng-switch-when="undefined" class="navbar-brand">
                    New Widget
                </div>
                <div ng-switch-default class="navbar-brand">
                    Edit Widget
                </div>
            </div>

            <p class="navbar-text pull-right">
                <a ng-click="model.handleImageWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid website-list-top">
    <form>
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input ng-model = "model.widget.name" type="text" class="form-control" id="widgetName" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model = "model.widget.text"  type="text" class="form-control" id="text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model = "model.widget.url" type="text" class="form-control" id="url" placeholder="URL">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model = "model.widget.width" type="text" class="form-control" id="width" placeholder="Width">
        </div>

    </form>



        <form action="/api/upload"  method="post" enctype="multipart/form-data">
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
            <input  name="websiteId" value="{{model.wid}}"   style="display: none"/>
            <input  name="userId" value="{{model.uid}}"   style="display: none"/>
            <input  name="pageId" value="{{model.pid}}"   style="display: none"/>

            <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
        </form>



        <!--<div class="form-group">-->
            <!--<a class="btn btn-primary btn-block">Choose file</a>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<a class="btn btn-primary btn-block">Upload</a>-->
        <!--</div>-->

        <div ng-if="model.widget._id" class="form-group">
            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWidget()">Delete</a>
        </div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div>
            <a href="#/user/{{model.uid}}" class="navbar-brand navbar-link footer-style"> <span
                    class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
